

#midlle_col{
    background-color: rgb(8, 8, 238);
    font-size: large;
}



#midlle_col> div {
  padding-top: 0;
  margin-top: 0;
    background-color: rgba(145, 176, 235, 0.897);
    border:1px solid white;
    border-radius: 15px;
  }
  
  #midlle_col> h1,h2,h3{
    color: aliceblue;
  }